.white-back{background-color: #fff;}
.text20px{font-size: 20px;}
.text16px{font-size: 16px;}
.smallshadow{box-shadow: 0 1px 2px 0 #777;}
.shards-shadow{box-shadow: 0 0.46875rem 2.1875rem rgba(90,97,105,.1), 0 0.9375rem 1.40625rem rgba(90,97,105,.1), 0 0.25rem 0.53125rem rgba(90,97,105,.12), 0 0.125rem 0.1875rem rgba(90,97,105,.1)}
.focusshadow:hover{border-color: rgba(82,168,236,.8);outline: 0;box-shadow: 0 0 8px rgba(82,168,236,.6);}
.paddingT-5{padding-top: 5px;}
.paddingB-5{padding-bottom: 5px;}
.paddingAll{padding: 5px;}
.clear-padding{padding: 0;}
.clear-border{border: none;}
.clear-radius{border-radius: 0;}
.marginT-10{margin-top: 10px;}
.rounded-box{border: solid 1px #ddd;border-radius: 4px;padding: 5px;}
.mHidden{display: none;}

/*分页使用*/
.page-info{line-height: 32px;color: #337ab7;}

/*belong publish.jsp*/
.check-box .bootstrap-switch{margin-top: -5px;}

/*页面背景颜色*/
body{background-color: #eee;font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;}