/*覆盖两个颜色*/
.navbar-default .navbar-nav>li>a{color: #fff;}
.navbar-default .navbar-brand{color: #fff;}


.latest-lists{margin-top: 10px;}
.latest-item{}
.latest-item a:hover{text-decoration: none;}
.latest-item>div{border-radius: 0;}

.listBox-item{height: 300px;}